<p id="notice"><%= notice %></p>

<h1>Joboffers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Photo</th>
      <th>Budget</th>
      <th>Location</th>
      <th>Skill</th>
      <th>Start date</th>
      <th>End date</th>
      <th>User</th>
      <th>Conversation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @joboffers.each do |joboffer| %>
      <tr>
        <td><%= joboffer.title %></td>
        <td><%= joboffer.description %></td>
        <td><%= joboffer.photo %></td>
        <td><%= joboffer.budget %></td>
        <td><%= joboffer.location_id %></td>
        <td><%= joboffer.skill_id %></td>
        <td><%= joboffer.start_date %></td>
        <td><%= joboffer.end_date %></td>
        <td><%= joboffer.user_id %></td>
        <td><%= joboffer.conversation %></td>
        <td><%= link_to 'Show', joboffer %></td>
        <td><%= link_to 'Edit', edit_joboffer_path(joboffer) %></td>
        <td><%= link_to 'Destroy', joboffer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Joboffer', new_joboffer_path %>
